@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    box-sizing: border-box;
}

body {
    background: rgb(253, 253, 170);
    background-image: url(pic/home-bg.jpg);
}

.app {
    background: palevioletred;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.app h1 {
    font-size: 25px;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
}

.btn {
    background: white;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: black;
    color: white;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: palevioletred; /* Changed color */
    color: white; /* Changed color */
    font-weight: 500;
    width: 100%; /* Adjusted width */
    border: 1px solid palevioletred; /* Changed border color */
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: rgb(105, 219, 105); /* Changed color */
}

.incorrect {
    background: rgb(254, 110, 110); /* Changed color */
}
